.main {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background: #f0f2f5;
   font-family: 'Poppins', sans-serif;
}
.brandName {
   font-size: 1.2rem;
   color: #ffff;
}
.signinTitle {
   font-size: 1.125rem;
   font-weight: 500 !important;
   color: #6c757d;
}
.form-label {
   color: #6c757d;
   font-size: 0.9rem;
   font-weight: 500 !important;
}
.form-control {
   font-size: 0.9rem;
   font-weight: 300 !important;
   color: #6c757d;
}
.text-muted {
   color: #98a6ad;
   font-size: 14px;
   font-weight: 300 !important;
}

small {
   color: #98a6ad;
   font-size: 12px;
}
.loginBtn {
   box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
   font-size: 14px;
   padding: 7.2px 14.4px;
}
.Signup {
   background: none;
   color: inherit;
   border: none;
   padding: 0;
   cursor: pointer;
   outline: inherit;
   font-weight: 500 !important;
}
.forgetPass {
   background: none;
   color: inherit;
   border: none;
   padding: 0;
   cursor: pointer;
   outline: inherit;
}
